# Build directories
/build/
/bin/
DELME/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Editor files
.vscode/
*.swp
*~
.idea/
*.sublime-*

# Documentation
/docs/html/
/docs/latex/

# Code coverage
*.gcov
*.gcda
*.gcno
coverage.info
